@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-article-box {
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) -8.13%, rgba(255, 255, 255, 0) 94.42%);
    backdrop-filter: blur(27px);
    position: relative;
  }
  .article-box {
    background: linear-gradient(180deg, rgba(6, 18, 55, 0.1) -21.77%, rgba(248, 248, 249, 0.1) 100%);
    backdrop-filter: blur(250px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 12px;
  }
}
