@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    overscroll-behavior: none;
  }
}
@layer components {
  .form-article-box {
    background: url("/img/form-article-bg.png");
    background-size: 100% 100%;
    /* border-radius: 8px; */
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) -8.13%, rgba(255, 255, 255, 0) 94.42%); */
    backdrop-filter: blur(27px);
    position: relative;
  }
  .article-box {
    /* background: linear-gradient(180deg, #e4e4ec -21.77%, #f4f4f4 100%); */
    /* backdrop-filter: blur(250px); */
    /* background: linear-gradient(180deg, rgba(6, 18, 55, 0.1) -21.77%, rgba(248, 248, 249, 0.1) 100%); */
    background: url("/img/article-bg.png");
    background-size: 100% 100%;
    backdrop-filter: blur(250px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 12px; */
  }
  .company-thumb {
    filter: drop-shadow(0px 4px 90px rgba(7, 19, 56, 0.08));
    border-radius: 24px;
  }
}
